<div class="navigation-bar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
  <div class="w-container">
    <a class="brand-link w-nav-brand" href="http://marketingscience.co/index.html"><img sizes="(max-width: 479px) 80vw, 161px" src="images/marketingscience_logo3.png" srcset="images/marketingscience_logo3-p-500x129.png 500w, images/marketingscience_logo3-p-800x206.png 800w, images/marketingscience_logo3-p-1080x278.png 1080w, images/marketingscience_logo3.png 1232w" width="161">
    </a>
    <nav class="navigation-menu w-nav-menu" role="navigation"><a class="navigation-link w-nav-link" href="http://marketingscience.co/index.html">Home</a><a class="navigation-link w-nav-link" href="http://marketingscience.co/team.html">Team</a><a class="navigation-link w-nav-link" href="http://marketingscience.co/contact.html">Contact</a>
    </nav>
    <div class="hamburger-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
